/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --main-font: "Inter", sans-serif;
  --main-text-color: white;
}

div.hero {
  background-image: url(images/herocoffee.jpg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
h1 {
  font-family: poppins;
  color: var(--main-text-color);
  size: 95px;
  font-weight: 700;
  font-size: 53px;
  margin-top: 0;
  padding-top: 170px;
  padding-left: 54px;
}
button {
  width: 188px;
  height: 46px;
  border-radius: 37px;
  background-color: var(--main-text-color);
  color: black;
  margin-left: 54px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 25px;
}
button:hover {
  background-color: rgba(35, 33, 33, 0.753);
  transition: 0.7s;
  color: var(--main-text-color);
}

div.container {
  margin: 90px 40px;
  height: 350px;
}
#video > iframe {
  aspect-ratio: 16 / 9;
  width: 90%;
}
#video {
  width: 50%;
  float: left;
}
.description {
  width: 50%;
  float: right;
  padding-top: 30px;
}
body > div.container > div.description > img {
  width: 130px;
}
h3 {
  margin-top: 0;
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: bold;
}
p {
  font-size: 15px;
  font-family: var(--main-font);
  font-weight: normal;
}

#catalogue {
  background-color: #cdc3c3;
  padding-top: 117px;
}
#catalogue h3,
#catalogue p {
  text-align: center;
}
body > div:nth-child(3) > div {
  display: block;
}
.pricing-container {
  background-color: #cdc3c3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  width: 100%;
}
.pricing-item {
  width: 350px;
  background-color: white;
  padding: 30px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 15px;
}
.item-title {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: normal;
}
.item-desc {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: normal;
  width: 300px;
  position: relative;
  top: 36px;
}
.price {
  position: relative;
  top: -66px;
  left: 287px;
  font-size: 24px;
  font-family: var(--main-font);
  font-weight: bold;
  color: #ae9f6a;
  width: 10px;
}
@media (max-width: 960px) {
  div.hero {
    height: 700px;
  }
  div.container {
    margin-top: 58px;
  }
  h3 {
    font-size: 30px;
  }
  .pricing-container {
    gap: 0;
  }
  div.description {
    padding-top: 10px;
  }
  .pricing-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .pricing-item {
    margin-top: 30px;
  }
  #catalogue {
    padding-top: 50px;
  }
}
@media (max-width: 700px) {
  div.hero {
    height: 500px;
  }
  button {
    display: none;
  }
  #video {
    width: 90%;
    clear: both;
    margin: 1px 49px;
    /* margin-left: 50vw;
    transform: translate(-50%); */
  }

  .description {
    text-align: center;
    width: 100%;
    clear: both;
  }
  div.container {
    margin-top: 25px;
    margin-bottom: 107px;
  }
  h3 {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  div.hero {
    height: 300px;
  }
  h1 {
    font-size: 26px;
    padding-top: 105px;
    padding-left: 14px;
  }
}
